<template>	
	 <div class="col-md-3">
        <div class="panel border-primary no-border border-3-top">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5>Profile Picture</h5>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    	<figure class="edit-profile-img">
	                        <img :src="img" alt="User Avatar" class="img-responsive">                    		
                    	</figure>
                        <div class="text-center">

                          <!--   <button type="button" class="btn btn-primary btn-xs btn-labeled mt-10">Edit Picture<span class="btn-label btn-label-right"><i class="fa fa-pencil"></i></span></button> -->
                          <label class="btn btn-primary btn-sm btn-labeled mt-10">
                            <input name="avatar" accept="image/*" @change="onChange" type="file"/>
                            Edit picture<span class="btn-label btn-label-right"><i class="fa fa-pencil"></i></span>
                        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
	export default{
		data(){
			return{
				img : 'https://junks.ng/storage/'+ window.App.profile.image,
				user_id : window.App.user.id,
			}

		},
		methods:{
			onChange(e){
				if(!e.target.files.length) return;
				console.log(e);
				let avatar = e.target.files[0];
				let reader = new FileReader();
				reader.readAsDataURL(avatar);
				reader.onload = e => {
					this.img = e.target.result;
				};
				this.persist(avatar);
			},
			persist(avatar){
				let data = new FormData();
				data.append('avatar',avatar);
				axios.post('user/user-profile/image/' + this.user_id,data)
				.then(response => $.notify('Image Upload successful'));
			}
		}
	}
</script>