<template>
	<div>
			<div class="col-md-12">
		<div class="row">
		<h2>Instructions on making the best sales from your Junk</h2>
				<div class="list-group">
					<li>Make sure the Picture of your Junk is taken properly to make sure we can buy your junk</li>
					<li>Make sure the image used is very clear</li>
					<li>Make sure the prices for the Junk a called at a fair price to get quick Approval</li>
					<li>Make sure the Title and the description of your Junks are properly written with appropriate names</li>
					<li>Make sure to specify the quantity of your Junks to be sold</li>
					<li>Make sure to always delete your Junk and soon at it has been bought</li>
				</div>
			</div>
		</div>
	</div>
</template>