<template>
    <div class="main-page">
        <div class="container-fluid">
            <div class="row page-title-div">
                <div class="col-md-6">
                    <h4 class="title"><small class="ml-10">My Profile</small></h4>
                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 text-right -->
            </div>
            <!-- /.row -->
            <div class="row breadcrumb-div">
                <div class="col-md-6">
                    <ul class="breadcrumb">
                        <li><a><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">My Profile</li>
                    </ul>
                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->

            <div class="row mt-30">
                <imageupload></imageupload>
                <!-- /.col-md-3 -->

                <div class="col-md-9">

                    
                    <!-- /.row -->

                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">Profile</a></li>
                    </ul>
                    <div class="tab-content bg-white p-15">
                        <div role="tabpanel" class="tab-pane active" id="home2">
                              Welcome to Junks.ng, turn your trash to treasure
                            <div id="carousel-example-generic" class="carousel slide mt-20" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="https://junks.ng/img/first.jpg" alt="First Slide" class="img-responsive">
                                    </div>
                                    <div class="item">
                                        <img src="https://junks.ng/img/second.jpg" alt="Second Slide" class="img-responsive">
                                    </div>
                                    <div class="item">
                                        <img src="https://junks.ng/img/third.jpg" alt="Third Slide" class="img-responsive">
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile2">
                        <userform></userform>
                        </div>
                        <div class="section-title">
                            <h4 class="title underline">Notice</h4>
                            <p class="sub-title">Make sure to always delete your Junk once it has been approved and bought</p>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</template>
<script>
    import userform from './user-form.vue';
    import imageupload from './image-upload.vue';

    export default {
        data(){
            return{
                img : 'https://junks.ng/img/avatar-1.svg'
            }

        },
        components:{userform,imageupload}
    }
</script>
<style>
    input[type="file"] {
    display: none;
    }
    custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

</style>