<template>
	<div>
	<form class="p-20" @submit.prevent="onSubmit">
    <h5 class="underline mt-n">Account Info</h5>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name13">Full Name</label>
                <input name ="name" type="text" v-model="name" class="form-control" id="name13" disabled placeholder="Enter Your Full Name">
            </div>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
            <div class="form-group">
                <label for="username13">Gender</label>
                <select class="form-control">
                    <option>Select</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail13">Email address</label>
                <input name="email" type="email" v-model="email" class="form-control" id="exampleInputEmail13" placeholder="Enter Your Email Id">
            </div>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
            <div class="form-group">
                <label for="contact13">Contact Number</label>
                <input name="telephone" type="text" v-model="telephone" class="form-control" id="contact13" placeholder="Enter Your Mobile Phone Number">
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>


    <h5 class="underline mt-30">Address Details</h5>

    <div class="row">
        <div class="col-md-12">
        <div class="form-group">
            <vue-google-autocomplete
            ref="address"
            id="map"
            classname="form-control"
            placeholder="Please type your address"
            v-on:placechanged="getAddressData"
            country="ng"
            name="address"
            :value="address"
        >
        </vue-google-autocomplete>
        </div>
        </div>
        <!-- /.col-md-12 -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City</label>
                <input :disabled="filled" name="city" type="text" v-model="locality" class="form-control" id="city" placeholder="Enter Your City">
            </div>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
            <div class="form-group">
                <label for="state">State</label>
                <input name="state" :disabled="filled" type="text" v-model ="state" class="form-control" id="state" placeholder="Enter Your State">
            </div>
        </div>
        <!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="country">Country</label>
                <input name="country" :disabled="filled" type="text" class="form-control" id="country" v-model="country" placeholder="Enter Your Country">
            </div>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
            <div class="form-group">
                <label for="zip">Zip Code</label>
                <input type="text" v-model="zip" name="zip" class="form-control" id="zip" placeholder="Enter Your Zip Code">
            </div>
        </div>

        <div class="btn-group pull-right mt-10" role="group">
        <button type="submit" class="btn bg-black btn-wide"><i class="fa fa-arrow-right"></i>Update</button>
        </div>
        <!-- /.col-md-6 -->
    </div>

</form>        
	</div>
</template>
<script>

	import VueGoogleAutocomplete from 'vue-google-autocomplete';

	export default {
        components: { VueGoogleAutocomplete },

        data: function () {
            return {
                name: window.App.user.name,
                email:window.App.user.email,
        		address: window.App.profile.address,
        		locality: window.App.profile.locality,
        		country: window.App.profile.country,
        		telephone:window.App.profile.telephone,
        		state: window.App.profile.state,
                zip:window.App.profile.zip,
	            filled: false,
	            user_id: window.App.user.id,
	          
            }
        },

        mounted() {
            // To demonstrate functionality of exposed component functions
            // Here we make focus on the user input
            this.$refs.address.focus();

        },
        
        methods: {
            /**
            * When the location found
            * @param {Object} addressData Data of the found location
            * @param {Object} placeResultData PlaceResult object
            */
            getAddressData: function (addressData, placeResultData) {
                this.address = addressData;
                this.locality = addressData.locality;
                this.country = addressData.country;
                this.state = addressData.administrative_area_level_1;
                this.filled = true;
                console.log(addressData.locality);
            },
            onSubmit(){
                axios.patch('dashboard/user-profile/' + this.user_id,{
                    name : this.name,
                    email: this.email,
                    gender : this.gender,
                    telephone : this.telephone,
                    country : this.country,
                    state : this.state,
                    zip: this.zip,


                })
            }
        }
    }
</script>