<template>  

<div class="main-page">
<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-sm-6">
            <h2 class="title">Dashboard</h2>
        </div>
        <!-- /.col-sm-6 -->
    
        <!-- /.col-sm-6 text-right -->
    </div>
                            <!-- /.row -->
    <div class="row breadcrumb-div">
        <div class="col-sm-6">
            <ul class="breadcrumb">
                <li><a><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ul>
        </div>
        <!-- /.col-sm-6 -->
        <!-- /.col-sm-6 -->
    </div>
                            <!-- /.row -->
</div>
                        <!-- /.container-fluid -->
    <section class="section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-primary" href="#">
                        <span class="number counter">{{junks.junk.length}}</span>
                        <span class="name">Junks</span>
                        <span class="bg-icon"><i class="fa fa-trash-o"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-danger" href="#">
                        <span class="number counter">{{users.length}}</span>
                        <span class="name">Users</span>
                        <span class="bg-icon"><i class="fa fa-ticket"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                    <!-- /.src-code -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-warning" href="#">
                        <span class="number counter">{{category.length}}</span>
                        <span class="name">Category</span>
                        <span class="bg-icon"><i class="fa fa-bank"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat bg-success" href="#">
                        <span class="number counter">16,710</span>
                        <span class="name">Thumbs Up</span>
                        <span class="bg-icon"><i class="fa fa-thumbs-o-up"></i></span>
                    </a>
                    <!-- /.dashboard-stat -->
                </div>
                <!-- /.col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
<!-- /.section -->

        <section class="section pt-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <caption>Junk table</caption>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Junk name</th>
                                    <th>Category</th>
                                    <th>Owner</th>
                                    <th>Status</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(junk,index) in junks.junk" scope="row">
                                    <th>{{junk.id}}</th>
                                    <td><a data-toggle="modal" href="remote.html" :data-target="'#'+ junk.id">{{junk.name}}</a></td>
                                    <td>{{junk.category.name}}</td>
                                    <td>{{junk.owner.name}}</td>
                                    <td v-if="junk.availibity == 1">Approved</td>
                                    <td v-else>Pending</td>
                                    <td>{{junk.quantity}}</td>
                                    <td>N{{junk.price}}</td>
                                    <div class="modal fade" :id="junk.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" :id="junk.id">{{junk.name}} <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
                                                </div>
                                                <div class="modal-body">
                                                <div>
                                                    <img class="img-responsive" :src="'http://localhost:8000/storage/'+ junk.image">
                                                </div>
                                                    <form :action="'admin/junks/status/' + junk.id" method="post">
                                                    <input type="hidden" name="_token" :value="csrf">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input name="status"  type="checkbox" value="1"> Approve
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <!-- /.col-md-12 -->

                                                            <div class="col-md-12">
                                                                <div class="btn-group pull-right mt-10" role="group">
        
                                                                    <button type="submit" class="btn bg-black btn-wide"><i class="fa fa-arrow-right"></i>Submit</button>
                                                                </div>
                                                                <!-- /.btn-group -->
                                                            </div>
                                                            <!-- /.col-md-12 -->
                                                        </div>
                                                    </form>
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                ...
                            </tbody>
                        </table>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-md-6 -->
                    <!-- /.col-md-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.section -->

                                    <!-- /.col-md-8 -->
                                                                  
</div>

</template>


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return{
                csrf : window.App.csrfToken,
                junks:[],
                users:[],
                category:[],
                form : new Form({
                    status: ''
                })
            }
        },
        methods : {
            submitStatus(){
                this.form.post('/admin/junk/status');
            }
        },
        created(){
            axios.get('/admin/junks').
            then(response => this.junks = response.data);
            axios.get('/admin/users').
            then(response => this.users = response.data);
            axios.get('/admin/fixcat').
            then(response => this.category = response.data);
        }
    }
</script>
