<template>
  <li class="list-group-item">
    <div> {{cat_name}}
        <span class="pull-right">
            <i @click="destroy" class="fa fa-trash"></i>
            <i @click="editing = true" class="fa fa-edit"></i>
        </span> 
    </div>
    <div  v-if="editing" class="list-group-item">
        <textarea  v-model="cat_name" class="form-control"></textarea>
        <div class="btn-group">
            <button class="btn btn-danger" @click = "editing = false">Cancel</button>
            <button @click="update" class="btn btn-primary">Update</button>
        </div>
    </div>  
 </li>
    <!-- /.col-md-12 -->                
</template>

<script>
    export default {
        props: ['name', 'id'],
        mounted() {
            console.log('Component mounted.')
            message:''
        },

        components:{
        },
        data : function(){ 
            return {
                cat_id : this.id,
                cat_name:this.name,
                fixcat : [],
                editing : false
            }
        },
        
        methods: {
            onSubmit(){
                axios.post('admin/fixcat', this.$data)
            },
            showAlert(){
                $('.alert-success').fadeIn(2000).fadeOut(2000);
            },
            update(){
                axios.patch('admin/fixcat/' +this.cat_id,{
                    name:this.cat_name
                }).then(response => $.notify('Update Successful')); 
            },
            destroy(){
                axios.delete('admin/fixcat/' +this.cat_id)
                .then(response => this.fixcat = response.data);
            }

        },
        created(){
            axios.get('admin/fixcat')
            .then(response => this.fixcat = response.data);
        }

    }

</script>

