<template>
<div class="main-page">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div class="col-md-6">
                <h2 class="title">Smart Fix Category</h2>
            </div>
            <!-- /.col-md-6 -->
            <!-- /.col-md-6 text-right -->
        </div>
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-md-6">
                <ul class="breadcrumb">
					<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#">dashboard</a></li>
					<li class="active">FixCat Manager</li>
				</ul>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6 text-right">
                <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
                <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
                            <!-- /.row -->
    </div>
                        <!-- /.container-fluid -->

    <section class="section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5 >Add a category to the Junk</h5>
                            </div>
                        </div>
                        <div class="panel-body">

                            <form @submit.prevent = "onSubmit" id = "fixcat">
                                <div class="form-group">
                            		<label for="name">Junk Category name</label>
                            		<input type="text" v-model="form.name" name ="name" class="form-control" id="name" placeholder="Category name" required>
                            	</div>
                            

                            	<button type="submit" class="btn btn-primary">Add</button>
                            </form>
                            <!-- /.col-md-12 -->
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
               <div class="row">
                    <div class="col-md-6" >
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title"><h5>Available Category</h5></div>
                            </div> 
                            <ul class="list-group">
                                <editor v-for="(fixcats, index) in fixcat" :key="index" :id="fixcats.id" :name="fixcats.name"></editor>
                            </ul>
                      </div>
                   </div>
                </div>
            
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
</template>
<script>
    import editor from './editor.vue';

    export default {

        props: ['attributes'],
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function(){ 
            return {
                fixcat : [],
                form : new Form({
                    name: ''
                })
            }
        },
        components : {
            editor
        },
        methods: {
           
            onSubmit(){
                this.form.post('/admin/fixcat')
                .then($.notify('Category added successfully'));
                
            }

        },
        created(){
            axios.get('/admin/fixcat')
            .then(response => this.fixcat = response.data);
        }

    }

</script>
