<template>

<div class="alert alert-success left-icon-alert" role="alert" v-show="show">
    Well done!{{body}}
     
</div>

</template>
<script>
	export default{
		props: ['message'],
		mounted(){
			console.log('mounted')
		},
		data: function(){
			return {
				body: this.message,
				show : false
			}
			
		},

		methods: {
			hide(){
				setTimeout(() => {
					this.show = false;
				},3000);
			},
			flash(message){

				this.body = message;
				this.show = true;
				this.hide();
			}
		},
		created(){
			if(this.message) {
				this.flash(this.message);
			}

			window.events.$on('flash', message => {
				this.flash(message);
			})
		}
	}
</script>
<style>
	.left-icon-alert {
    border: 1px solid #f2f2f2;
    border-left-width: 50px;
    position: fixed;
    right: 2px;
    bottom: 20px;
    width: 400px;
}
.alert-success{
	display: block;
}
</style>