<template>
	<div class="row search">
                        
        <form>
        <div class="row">
           <div class="col-md-12">
                <div class="input-group search_form ">
                    <input v-model="query" type="text" class="form-control" placeholder="What are you searching for">
                    <span class="input-group-btn">
                <button class="btn btn-success dropdown-toggle" @click="search" type="button" v-if="!loading"><i class="fa fa-search"></i></button>
                <button class="btn btn-default" type="button" @click="removeSearch" v-if="loading"><i class="fa fa-times"></i></button>
              </span>
                </div>
                <div class="alert alert-danger search_form" role="alert" v-if="error">
				    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				    {{ error }}
				</div>
                <!-- /input-group -->
            </div>
            </div>
       </form>
       <div class="col-md-12" v-if="junks.length > 0">
			 <ul class="list-group search_form">
			  <li class="list-group-item"  v-for="junk in junks"><a :href="'https://junks.ng/junk/'+ junk.id">{{junk.name}}
			  </a><span class="pull-right"><img width="20px" src="https://junks.ng/img/algolia-icon.png"></span></li>
			</ul>
       </div>
       
   	
</div>
</template>
<script>
	export default{
		data(){
			return{
				junks : [],
				loading :false,
				error: '',
				query :'',
				junks_id:'',
			}
		},
		methods:{
			search(){
				this.loading = true;
				axios.get('/search?q=' + this.query)
				.then(response => {
					response.data.error ? this.error = response.data.error : this.junks = response.data;
				});

			},
			removeSearch(){
				this.junks = [];
				this.error="";
				this.query ="";
				this.loading = false;
			}
		}
	}
</script>
<style>
	input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;	
    border-radius: 0px;
    font-size: 12px;
    background-color: white; 
    padding: 12px 20px 12px 40px;
	}
	.search_form>li{
		color:black;
	}
	 @media (min-width: 1200px) {
            .search_form{
                max-width: 500px;
                margin: 0px auto;
            }
        }

</style>