<template>	
<div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h5 >Add a Partner</h5>
                    </div>
                </div>
                <div class="panel-body">

                    <form  @submit.prevent="onSubmit" method="POST" action="/admin/partners" class="col-md-10 col-md-offset-1" @keydown="form.errors.clear($event.target.name )" enctype="multipart/form-data">
                                            <div class="form-group left-icon">
                                                <label>Partner name</label>
                                                <span class="fa fa-pencil form-left-icon"></span>
                                                <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the partners name" v-model="form.name">
                                                <div>
                                                <span  class="help alert-warning" role="alert" v-text="form.errors.get('name')"></span>
                                                </div>
                                            </div>
                                           
                                           
                                            <div class="form-group left-icon">
                                                <label for="exampleInputPassword2">Partner Website link</label>
                                                <span class="fa fa-street-view form-left-icon"></span>
                                                <input  v-model="form.link" name="link" type="text" class="form-control"  placeholder="Enter website link">
                                                <span  class="help alert-warning" role="alert" v-text="form.errors.get('link')"></span>
                                            </div>
                                            <div class="form-group left-icon">
                                                <label>Partner Logo Image</label>
                                                <span class="fa fa-file-picture-o form-left-icon"></span>
                                                <input @change="onChange" name="image" type="file" class="form-control"  placeholder="Enter Address" accept="image">
                                                <span  class="help alert-warning" role="alert" v-text="form.errors.get('image')"></span>
                                            </div>
                                            <div v-if="upload == true" class="form-group">
                                                <div>Fishers</div>
                                            </div>
                                        
                                            <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                                        </form>
                    <!-- /.col-md-12 -->
                </div>
            </div>
        </div>
</template>
<script>
 import Form from '../../form.js';
    export default {
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
                form  :new Form({
                    name : '',
                    link : '',
                    image : ''
                    
                }),
              partners :this.data,
              upload : false 
            }
            
        },
        methods: {
            onSubmit(){
                this.form.post('admin/partners')
                .then(data => {
                    this.$emit('created',data);
                });
                
   
            },
            onChange(e){
                console.log(e);
                let image = e.target.files[0];
                    this.form.persist(image);
                    
                    //     this.form.image = file;
                    //     let formData = new FormData();
                    //     formData.append('img',this.form.image);
            },
            remove(index){
                this.clients.splice(index,1);
            }
        },
        created(){
            axios.get('admin/partners')
            .then(response => this.partners = response.data);
        }
        
    }

</script>
1
