<template>
<div class="main-page">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div class="col-md-6">
                <h2 class="title">Partners Manager</h2>
            </div>
            <!-- /.col-md-6 -->
            <!-- /.col-md-6 text-right -->

        </div>
         
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-md-6">
                <ul class="breadcrumb">
					<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#">dashboard</a></li>
					<li class="active">Partners Manager</li>
				</ul>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6 text-right">
                <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
                <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
                            <!-- /.row -->
    </div>
                        <!-- /.container-fluid -->

    <section class="section">
        <div class="container-fluid">

            <div class="row">
            <newpartner @created="add"></newpartner>
                
                 <div class="col-md-6" >
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h5>Partners</h5>

                                    
                                </div>
                                 <div class="panel-body" v-for="(partner,index) in partners">
                                    <partners :data="client"  @deleted="remove(index)"></partners>
                                </div>
                            </div>
                      </div>
                   </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
               
                   
                
            </div>
        <!-- /.container-fluid -->
    </section>
</div>
</template>
<script>

 import Form from '../../form.js';
 import newpartner from './new-partner.vue';
 import partners from './all-partners.vue';
    export default {
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
              partners :this.data,
              upload : false 
            }
            
        },
        components : {
            partners,
            newpartner,
        },
        methods: {
           
             add(partner){
                this.clients.push(client);
            },
            remove(index){
                this.clients.splice(index,1);
            }
        },
        created(){
            axios.get('admin/partners')
            .then(response => this.clients = response.data);
        }
        
    }

</script>
1