@import './site/junk';
@import './site/category';
@import './site/form';
@import './site/sell-form';

html > body {
    background-color: #fff ;//transparentize($color5, .2) !important;

    &::selection {
        color: $white;
        background-color: $dark-brown;
    }
}

.btn {
    &-default {
        color: $white;
        border: none;
        background: $dark-green;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        transition: all .2s $jump-in;

        &:focus {
            color: darken($white, 10%);
            background: darken($dark-green, 10%);
        }

        &:hover {
            color: $white;
            margin-top: -10px;
            background: lighten($dark-green, 10%);
            box-shadow: 0 3px 4px transparentize($black, .68);
        }
    }
}

header {
    border-radius: 0;
    margin-bottom: 0;
    
    &.navbar {
        border: none;
        background-color: $dark-green;
        box-shadow: 0 4px 3px transparentize($dark-brown, .7);

        @media screen and (max-width: $xs-screen) {
            position: relative !important;
        }
    }

    .userbar {
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;

        .userbar_link {
            height: 30px;
            padding: 0 20px;
            font-size: 13px;
            line-height: 30px;
            color: $white !important;
            text-decoration: none !important;
            white-space: nowrap;

            &.btn {
                background: $color4;
                border-color: $color4;
                color: $dark-brown !important;
                box-shadow: 0 3px 3px transparentize($black, .8);
            }
        }

        .userbar_link_reg {
            height: 30px;
            padding: 0 10px;
            font-size: 13px;
            line-height: 28px;
            color: $white !important;
            text-decoration: none !important;
            white-space: nowrap;
            border: 2px solid $white;
            border-radius: 5px;
            margin: 0 20px 0 0;
        }

        .userbar_link_login {
            height: 30px;
            padding: 0 20px;
            font-size: 13px;
            line-height: 30px;
            color: $white !important;
            text-decoration: none !important;
            white-space: nowrap;
        }
    }
 
    .header_logo {
        display: flex;
        align-items: center;
        img {
            width: 100px;
        }
    }

    & {
        .userbar, .header_logo {
            min-height: 80px;
            transition: all .3s ease-out;
        }
    }

    &.shrink {
        .userbar, .header_logo {
            min-height: 50px;
        }
    }
}

h1, h2, h3 {
    &.classic-heading {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 8%;
            background: $light-green;
            height: 3px;
            left: 0;
            bottom: -5px;
        }
    }
}

.page-content {
    padding-top: 80px;
    @media screen and (max-width: $xs-screen) {
        padding-top: 10px;
    }
}

.body-wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.header-block {
    position: relative;
    width: 100%;
    min-height: 68vh; 
    background-image: url("/img/junk.jpeg"), linear-gradient(-30deg, $accent-color, $color5);
    background-position: 50% 50%;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    
    &-title {
        color: white;
        text-align: center;
        margin: 40px 0 0;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.23);

      & > h1,
      & > h2 {
            color: white;
        }
    }
    flex: 0 0 400px;
    z-index: 5;
    -webkit-user-select: none;
    
    .search_form {
        width: 500px;
        margin: 0px auto;
    }

    h1 {
        font-family: 'Rochester','cursive';
    }

    .search{
        margin: 50px;
        padding: 2px;
    }

    .search_form {
        border-radius: 0px;
        background: $white;
        border: solid 2px $white;

        .input-group-addon,
        .input-group-btn,
        .form-control {
            border-radius: 0;
            border: none;
        }

        .form-control {
            background: transparent;

            &:focus {
                background: $white;
                box-shadow: none;
            }
        }

        .input-group-btn {
            opacity: 100;
            .btn {
                border-radius: 0;
            }
        }

        .input-group-addon {
            background-color: $dark-brown;
            color: $color3;
        }
    }
}

.adverts{
    margin:0px auto;
}

.junk-title {
    text-align: center;

    h1 {
        font-size: 20px;
        margin-bottom: 40px;
        margin: 30px;
    }
}

.junk-product {
    position: relative;
    margin: {
        top: 0;
        bottom: 20px;
    };
    background: darken($white, 10%);
    box-shadow: 0px 5px 9px transparentize($dark-brown, 0.63);
    border-radius: 3px;
    overflow: hidden;
    $card-trans: .1s;
    transition: all $card-trans $jump-in;

    &:hover {
        margin-top: -10px;
        box-shadow: 0 8px 9px 3px rgba(0, 0, 0, 0.29);

        .price {
            padding-left: 30px;
        }
    }

    .junks-image {
        vertical-align: top;
        width: 100%;
        background: #ddd;
        overflow: hidden;
        height: 175px;
        display: inline-block;
        object-fit: cover;

        & > img {
            width: 100%;
        }
    }

    .title{
        margin: 0 0 0 10px;
    }

    .junks-desc {
        background-color: $white;
        color: $dark-brown;
        border-top: dashed 3px $color4;
        background-clip: content-box;

        .price {
            font-size: 20px;
            color: $dark-brown;
            font-weight: 300;
            margin: 0 0 0 10px;
            transition: all .3s $jump-in ($card-trans + .2) ;
        }
    }

}


.pagination {
    margin: 0 auto;

    li {
        & > a,
        & > span {
            border-radius: 3px;
            margin: 0 5px;
            color: #333 !important;
            border: none;
        }

        &.active > span {
            box-shadow: 0 3px 1px $dark-brown;
            background-color: lighten($dark-brown, 10%);
            color: $accent-color !important;
        }
    }
}

footer {
    color: $accent-color;
    background-color: darken($dark-brown, 5%);

    .copyright{
        text-align: center;
    }

    .footer-link{
        margin: 50px;
        box-sizing: content-box;
    }

    h5 {
        color: $primary-color;
        font-family: 'Raleway';
        font-variant: all-petite-caps;
        padding-bottom: 5px;
        border-bottom: solid 3px currentColor;

        & + ul {
            padding-left: 0;
            li {
                display: block;
            }
        }
    }


    hr {
       border-color: transparentize($white, .92);
       box-shadow: 0 3px transparentize($black, .83);
       width: 40%;
    }
}

#navigation {
    $parent-height: 50px;
    height: $parent-height;
    display: block;
    margin: 0 -5px;
    text-align: center;
    background: $dark-green;
    box-shadow: 0 1px 1px transparentize($dark-brown, .90);
    transition: all .3s ease-out;

    &.navbar-fixed-top {
        box-shadow: 0 5px 3px transparentize($dark-brown, .80);
    }

    .nav_list_item {
        display: inline-block;
        font-family: 'Raleway';
        position: relative;
        height: $parent-height;
        overflow:hidden;
        vertical-align: top;
        border: {
            radius: 0;
            color: transparentize($white,.3);
        } 
        text-transform: capitalize;
        transition: all .5s ease .30s;                

        &::after {
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            top: 110%;
            z-index: -1;
            position: absolute;
            background: transparentize($white, 0.51);
            transition: top .3s ease-out;
            box-shadow: 0px 5px 3px 2px transparentize($black, .60);
        }

        &:hover {
             &::after {
                top: 0;
            }

            & > a {
                background: transparent;
                color: $accent-color;
            }
        }
    }
    
}

.brief{
    margin: 10px auto;
    text-align: center;
}

.fa-cc-visa{
    font-size: 20px;
}

.fa-cc-mastercard{
    font-size: 20px;
}

.slider {
    &.slider-horizontal {
        width: 100%;
    }

    .slider-handle {
        outline: none;
        cursor: pointer;
        background: $light-gray;
        border-radius: 40px;
        box-shadow: 0 -1px 1px 1px transparentize($dark-brown, .8);
    }
    
    .slider-selection {
        background: darken($light-gray, 10%);
    }

    .slider-track {
        background: darken($light-gray, 15%);
    }
}

a {
    color: $color3;
}