@import 'variables';

html > body {
	background-color: $dark-green;
}

.edit-profile-img {
	max-width: 150px;
	min-width: 100px;
	border: solid 1px #bbb;
	min-height: 150px;
	border-radius: 2px;
	text-align: center;
	color: #ddd;
	display: block;
	padding: 0;
	margin: 0 auto;
	background: #ddd;

	img {
		width: 100%;
	}
}