html>body{background-color:#297373}.edit-profile-img{max-width:150px;min-width:100px;border:1px solid #bbb;min-height:150px;border-radius:2px;text-align:center;color:#ddd;display:block;padding:0;margin:0 auto;background:#ddd}.edit-profile-img img{width:100%}