 .panel-heading-detail {
    background: #82e282;
}

.junk-name {
    background-color: milk;
    padding-left: 5px;
    padding-right: 5px;
}

.cat-header {
    position: relative;
    top: 0;
    z-index: 10;
    background: $dark-brown;
    padding: 5px 15px;

    .cat-heading {
        color: $light-green;
        font-variant: small-caps;
        margin: 0 0 10px;
        padding:0;
    }

    .cat-links {
         li {
            display: inline-block;
            margin: 0 4px;
            padding: 0 3px;
            color: $light-green;

            &.active {
                border: solid 2px darken($light-green, 10%);                
            }
         }
    }
}

.junk-vertical {
    background: $white;
    margin-bottom: 5px;

    .title {
        margin-top: 0;
        vertical-align: middle;
        line-height: 30px;

        .price {
            color: $light-green; 
            font: {
                size: 30px;
                weight: 300;
                family: 'Roboto','Helvetica Neue','Aller','Segoe UI';
            }
        }
    }

    .desc {
        padding: 5px;
        border-radius: 3px;
        box-sizing: border-box;
        background: lighten($dark-brown, 60%);
    }

    .list-group-item {
        padding: 0 5px;
        border-radius: 10px;
        color: $light-green;
        border: solid 1px $light-green;
    }
}

.category-sidebar {
    border: dashed 2px $light-green;

    .nav {
        $curve : 5px;

        li:first-child {
            border-radius: $curve $curve 0 0 ;
        }

        li:last-child {
            border-radius: 0 0 $curve $curve  ;
        }
        &>li {
            padding: 5px 15px;
            background: #ddd;
            text-transform: capitalize;
            margin: {
                left: 0px;
                right: 0px;
            };
            line-height: 1;
            transition: all .1s ease-in;
            
            &>a {
                padding: 0;
                margin: 0;
                color: inherit;
                
                 &:hover, &:focus {
                    background: transparent;
                }
            }

            &:hover {
                margin-left: -5px;
                margin-right: -5px;
                padding: 10px 20px;
                background: transparentize($light-green, .5);
            }

            &.active {
                // border-left: solid 4px $dark-brown;
                margin-left: -10px;
                background: $light-green;
                margin-right: -10px;
                padding: 10px 20px;

                a {
                    &:hover, &:focus {
                        background: transparent;
                    }
                }
            }
        }
    }
}

#image-upload {
    margin:0px auto;
    font-size: 150px;
    width: 50%;
    text-align: center;
}

.sidebar-panel {
    position: relative;
}

.desc {
    margin-top:5px;
    font-size: 13px;
    color: grey;
}