
input, select, textarea {

	&::selection {
		background-color: transparentize($accent-color, .2);
		color: $dark-brown;
		font-style: italic;
	}

	&.form-control {
		background: $white;
		border: solid 2px #ddd;

		&:focus {
			border: solid 2px $light-green;
			box-shadow: none;
		}
	}
}