
.junk-panel {
    border-radius: 0;
        
    figure {
        min-height: 300px;
        background: $light-gray;
        transition: height .2s $jump-in;
        position: relative;
        overflow: hidden;

        &.shorten {
            height: 300px;
            cursor: pointer;

            &::after {
                content: "Click to Expand";
                line-height: 300px;
                color: white;
                text-align: center;
                position: absolute;
                background: rgba(0,0,0,.27);
                left: 0;right:0;top:0;bottom:0;
            }
        }
    }

    .desc-title {
        margin-top: 0;
    }
}

.sidebar {
    box-shadow: 0;
    border-radius: 10px;
    border: dashed 2px $light-green;

    .panel-heading {
        border-bottom: dashed 2px $light-green;
        background:  darken($white, 4%);

    	.panel-title {
            margin: 0;
            text-align: right;
	    	padding: 5px 10px;
            font-size: 24px;
	    	color: $light-green;
    	}
    }

    .user-thumbnail {
        width: 80px;
        height: 80px;        
        border-radius: 50%;
        text-align: center;
        line-height: 80px;
        margin: {
            left: auto;
            right: auto; 
        };
    }

    .user-info {
        h4 {
            margin-top: 0;
        }
    }

    .tips {
        background: lighten(#fce5ce, 5%);
        padding: 0 .8em;
        margin-bottom: 10px;

        li {
            display: block;
        }
    }

}