.sell-form {

	.junk-image-holder {
		width: 100%;
		padding: .5em;
		border-radius: 10px;
		background-color: $white;
		border: dashed 3px $light-green;

		div.figure {
			border: solid 2px #ddd;
			background: #ccc;
			width: 100px;
			display: inline-block;
			overflow: hidden;
			height: 100px;

			& > img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}		
	}
}