<template>
	
	<div>
	<li class="list-group-item">
	<span><img class=" img-circle"  :src="testifier_img" width="50px" height="50px"></span>
		{{testifier_testimony}}<span class="pull-right"><button type="button" data-toggle="modal" :data-target="'#'+testifier_testimony" class="btn btn-success icon-only"><i  class="fa fa-edit"></i></button><button @click = "deleteTestimonial" type="button" class="btn btn-danger icon-only"><i class="fa fa-trash-o"></i></button></span></li>

	<div class="modal fade draggable" :id="testifier_name" tabindex="-1" role="dialog" aria-labelledby="modal2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header draggable-handle">
                <h4 class="modal-title" id="modal2Label">Edit Testifier <span><img class=" img-circle" :src="testifier_img" width="50px" height="50px"></span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
            </div>
            <div class="modal-body">
            <div>
                <form  @submit.prevent="editTestimonial" method="POST" action="/admin/testimonials" class="col-md-10 col-md-offset-1" @keydown="errors.clear($event.target.name )" enctype="multipart/form-data">
                            <div class="form-group left-icon">
                                <label>Testifier</label>
                                <span class="fa fa-pencil form-left-icon"></span>
                                <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the testifers name" v-model="testifier_name">
                                <div>
                                <span  class="help alert-warning" role="alert" v-text="errors.get('name')"></span>
                                </div>
                            </div>
                          
                            <div class="form-group left-icon">
                                <label for="exampleInputPassword2">Testimony</label>
                                <span class="fa fa-street-view form-left-icon"></span>
                                <input v-model="testifier_testimony" name="testimony" type="text" class="form-control"  placeholder="Enter Address">
                                <span  class="help alert-warning" role="alert" v-text="errors.get('testimony')"></span>
                            </div>
                            <div class="form-group left-icon">
                                <label>Testifiers Image</label>
                                <span class="fa fa-file-picture-o form-left-icon"></span>>
                                <span  class="help alert-warning" role="alert" v-text="errors.get('image')"></span>
                            </div>
                        	 <button type="button" class="btn btn-gray btn-wide btn-rounded pull-right" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                            <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                        </form>
                        </div>
            </div>
            <div class="modal-footer">
                
                <!-- /.btn-group -->
            </div>
        </div>
    </div>
</div>

	</div>
</template>
<script>
 import Errors from '../../errors.js';
	export default {
		props:['data'],
		mounted(){
			console.log('client compomnent mounted')
		},
		data(){
			return {
				testimonials : [],
				testifier_id : this.data.id,
				testifier_name:this.data.name,
				testifier_img :'http://localhost:8000/storage/'+ this.data.image,
				errors: new Errors(),
				upload : false  
			}
		},
		methods : {
            onChange(e){
                if(!e.target.files.length) return;

                let reader = new FileReader();
                let file = e.target.files[0];
                reader.readAsDataURL(file);

                reader.onload = evt => {
                    console.log(evt, e.target);
                    this.image = file;
                };
              
            },
			editTestimonial(){
				let formData = new FormData();
                    formData.append('img', this.data.image);

                axios.patch('admin/testimonials/' + this.testifier_id, {
                	name : this.testifier_name,
                	image : this.testifier_img,
                	testimony : this.testifier_testimony
                	
                })
                .then(response =>alert('success'))
                .catch(error => this.errors.record(error.response.data));
			},

			deleteTestimonial(){
				axios.delete('admin/testimonials/' + this.testifier_id);
				this.$emit('deleted',this.testifier_id);
			
				
			}



		},
		created(){
            axios.get('admin/testimonials')
            .then(response => this.testimonials = response.data);
        }
	}
</script>
<style>
	.modal-body{
		padding: 0px;
	}
</style>