<template>	
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h5 >Add a Testimonial</h5>
                </div>
            </div>
            <div class="panel-body">
                <form  @submit.prevent="onSubmit" method="POST" action="/admin/testimonials" @keydown="form.errors.clear($event.target.name )" enctype="multipart/form-data">
                    <div class="form-group left-icon">
                        <label>Testifier</label>
                        <span class="fa fa-pencil form-left-icon"></span>
                        <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the testifiers name" v-model="form.name">
                        <div>
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('name')"></span>
                        </div>
                    </div>
                    <div class="form-group left-icon">
                        <label for="exampleInputPassword2">Testimony</label>
                        <span class="fa fa-street-view form-left-icon"></span>
                        <input  v-model="form.testimony" name="testimony" type="text" class="form-control"  placeholder="Enter Testifiers Testimony">
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('testimony')"></span>
                    </div>
                    <div class="form-group left-icon">
                        <label>Testifiers Image</label>
                        <span class="fa fa-file-picture-o form-left-icon"></span>
                        <input @change="onChange" name="image" type="file" class="form-control" accept="image">
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('image')"></span>
                    </div>
                    <div v-if="upload == true" class="form-group">
                        <div>Fishers</div>
                    </div>
                
                    <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                </form>
                <!-- /.col-md-12 -->
            </div>
        </div>
    </div>
</template>

<script>
 import Form from '../../form.js';
    export default {
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
                form :new Form({
                    name : '',
                    testimony : '',
                    image : '',
                    
                }),
              testimonials :this.data,
              upload : false 
            }
            
        },
        methods: {
            onSubmit(){
                this.form.post('admin/testimonials')
                .then(data => {
                    this.$emit('created',data);
                });
   
            },
            onChange(e){
                console.log(e);
                let image = e.target.files[0];
                    this.form.persist(image);
                    
                    //     this.form.image = file;
                    //     let formData = new FormData();
                    //     formData.append('img',this.form.image);
            },
            remove(index){
                this.testimonials.splice(index,1);
            }
        },
        created(){
            axios.get('admin/testimonials')
            .then(response => this.testimonials = response.data);
        }
        
    }

</script>
1
