<template>
<div class="main-page">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div class="col-md-6">
                <h2 class="title">Testimonials Manager</h2>
            </div>
            <!-- /.col-md-6 -->
            <!-- /.col-md-6 text-right -->

        </div>
         
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-md-6">
                <ul class="breadcrumb">
					<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#">dashboard</a></li>
					<li class="active">Testimonial Manager</li>
				</ul>
            </div>
            <!-- /.col-md-6 -->
            <div class="col-md-6 text-right">
                <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
                <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
            </div>
            <!-- /.col-md-6 -->
        </div>
                            <!-- /.row -->
    </div>
                        <!-- /.container-fluid -->

    <section class="section">
        <div class="container-fluid">

            <div class="row">
                <newtestimonial @created="add"></newtestimonial>
                
                <div class="col-md-6" >
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5>Testimonials</h5>
                            </div>
                        </div>
                        <ul class="list-group">
                            <testimonials v-for="(testimonial,index) in testimonials"
                                :key="index" :data="client" @deleted="remove(index)"/>
                        </ul>
                    </div>
                </div>
                <!-- /.col-md-6 -->
                <!-- /.col-md-6 -->
            </div>
               
                   
                
            </div>
        <!-- /.container-fluid -->
    </section>
</div>
</template>
<script>
 import Form from '../../form.js';
 import newtestimonial from './new-testimonial.vue';
 import testimonials from './all-testimonials.vue';
    export default {
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
              testimonials :this.data,
              upload : false 
            }
            
        },
        components : {
            testimonials,
            newtestimonial,

        },
        methods: {
           
             add(partner){
                this.testimonials.push(client);
            },
            remove(index){
                this.testimonials.splice(index,1);
            }
        },
        created(){
            axios.get('admin/testimonials')
            .then(response => this.clients = response.data);
        }
        
    }

</script>
