<script>
import VueGoogleAutocomplete from 'vue-google-autocomplete';
	export default{
        components: { VueGoogleAutocomplete },
		data(){
			return{
				form : new Form({
					name : '',
					category: 0,
					price: '',
					telephone : window.App.profile.telephone,
					image : '',
                                                        description:'',
					address : window.App.profile.address,
					locality : window.App.profile.locality,
                                                         pricing: 1,
					state : window.App.profile.state,
					country : window.App.profile.country,
					zip: window.App.profile.zip
				}),
                                csrf : window.App.csrfToken,
                				cat:[],
                                filled:false,
                                loader:false,
                                img_src: ''
			}
		},
		methods: {
			submitJunk(){
			    this.loader = true;
				this.form.post('sell')
                .then(response => {
                        this.loader = false;
                        swal({
                          title: "Junk submitted",
                          text: "you'll recieve a notification once junk is approved",
                          icon: "success",
                          button: "Ok!",
                        })
                }
                ).catch(error => {
                    this.loader = false;
                    swal({
                          title: "Something went wrong",
                          text: "Please try again",
                          icon: "error",
                          button: "Ok!",
                        })
                    }
                );
			},
             getAddressData: function (addressData, placeResultData) {
                this.form.address = addressData.route;
                this.form.locality = addressData.locality;
                this.form.country = addressData.country;
                this.form.state = addressData.administrative_area_level_1;
                this.filled = true;
            },
            onChange(e) {
                let image = e.target.files[0];
                let reader = new FileReader();
                reader.readAsDataURL(image);
                reader.onload = e => {
                    this.img_src = e.target.result;
                };
                    this.form.persist(image);
                    this.form.image = image;
                        let formData = new FormData();
                        formData.append('img',this.form.image);
			},
            stylizeNumber() {
                this.form.temp;
                [].slice.call(this.form.telephone.toString());
            }
        },
		created(){
			axios.get('/user/junks/category')
			.then(response => this.cat = response.data)
		},
        mounted(){
            this.$refs.address.focus();
        }
	}
</script>
<style>
	#img {
		font-size: 10px;
	}
</style>