<template>
	<div class="list-group-item">
    	<div class="clearfix">
        	<span>
                <a style="background-color: #ddd;border-radius: 10px"  :style="{backgroundImage: 'url('+ junk_img +')', height: 30+'px',width: 30+'px'}">
                </a>
            </span>
            <span>{{junk_name}}</span>
            <span class="btn-group pull-right">
                <button type="button" data-toggle="modal" :data-target="'#'+junk_id" class="btn btn-success icon-only">
                    <i  class="fa fa-edit"></i>
                </button>
                <button @click = "deleteClient" type="button" class="btn btn-danger icon-only">
                    <i class="fa fa-trash-o"></i>
                </button>
            </span>
        </div>

    	<div class="modal fade draggable" :id="junk_id" tabindex="-1" role="dialog" aria-labelledby="modal2Label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header draggable-handle">
                        <h4 class="modal-title" id="modal2Label">Edit Junk <span><img class=" img-circle" :src="junk_img" width="50px" height="50px"></span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
                    </div>
                    <div class="modal-body">
                    <div>
                        <form  @submit.prevent="editClient" method="POST" class="col-md-10 col-md-offset-1" @keydown="errors.clear($event.target.name )" enctype="multipart/form-data">
                                    <div class="form-group left-icon">
                                        <label>Junk name</label>
                                        <span class="fa fa-pencil form-left-icon"></span>
                                        <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the Junk name" v-model="junk_name">
                                        <div>
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('name')"></span>
                                        </div>
                                    </div>
                                     <div class="form-group left-icon">
                                        <label>Junk Category</label>
                                        <span class="fa fa-pencil form-left-icon"></span>
                                      <select  v-model="junk_category" name="category" class="form-control">
                                                            <option disabled value="">Please select a category</option>
                                                            <option  v-for="(cats,index) in cat" :value="index">{{cats}}</option>
                                                            </select>
                                        <div>
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('category')"></span>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group left-icon">
                                        <label for="exampleInputPassword2">Junk Price</label>
                                        <span class="fa fa-money form-left-icon"></span>
                                        <input v-model="junk_price" name="price" type="number" class="form-control"  placeholder="Junk Price">
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('price')"></span>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label for="exampleInputPassword2">Junk Quantity</label>
                                        <span class="fa fa-money form-left-icon"></span>
                                        <input v-model="junk_quantity" name="price" type="number" class="form-control"  placeholder="Junk Quantity">
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('quantity')"></span>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label for="exampleInputPassword2">Junk Description</label>
                                        <span class="fa fa-money form-left-icon"></span>
                                        <input v-model="junk_description" name="description" type="text" class="form-control"  placeholder="Junk Description">
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('description')"></span>
                                    </div>
                                    <div class="form-group left-icon">
                                        <label class="btn btn-success">Junk Image
                                         <input @change="onChange" name="image" type="file" class="form-control"  placeholder="Enter Junk Image">
                                        </label>
                                        <span  class="help alert-warning" role="alert" v-text="errors.get('image')"></span>
                                    </div>
                                	 <button type="button" class="btn btn-gray btn-wide btn-rounded pull-right" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                                    <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                                </form>
                                </div>
                    </div>
                    <div class="modal-footer">
                        
                        <!-- /.btn-group -->
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
 import Errors from '../../../errors.js';
	export default {
		props:['data','cat'],
		mounted(){
			console.log('Junk compomnent mounted');
		},
		data(){
			return {
				junk_id : this.data.id,
				junk_name:this.data.name,
				junk_price : this.data.price,
                junk_category : this.data.cat_id,
                junk_status : this.data.availibity,
                junk_pricing : this.data.pricing,
                junk_description : this.data.description,
				junk_img :'https://junks.ng/storage/'+ this.data.image,
                junk_quantity : this.data.quantity,
				errors: new Errors(),
				upload : false,
                cats:this.cat
			}
		},
		methods : {
            onChange(e){
                if(!e.target.files.length) return;

                let reader = new FileReader();
                let file = e.target.files[0];
                reader.readAsDataURL(file);

                reader.onload = evt => {
                    console.log(evt, e.target);
                    this.image = file;
                };
              
            },
			editClient(){
				let formData = new FormData();
                    formData.append('img', this.data.image);

                axios.patch('user/junks/' + this.junk_id, {
                	name : this.junk_name,
                	image : this.junk_img,
                    category : this.junk_category,
                    quantity : this.junk_quantity,
                    description : this.junk_description,
                	price : this.junk_price,
                })
                .then(response => $.notify(this.junk_name + 'has been Updated'))
                .catch(error => this.errors.record(error.response.data));
			},

			deleteClient(){
				axios.delete('user/junks/' + this.junk_id);
				this.$emit('deleted',this.junk_id);

				$.notify(this.junk_name + 'has been deleted');


		},
		created(){
            axios.get('user/junks')
            .then(response => this.junks = response.data);
        }
	}
}
</script>
<style>
	.modal-body{
		padding: 0px;
	}
    input[type=file]{
        display: none;
    }
</style>
