<template>
<div class="main-page">
    <div class="container-fluid">
        <div class="row page-title-div">
            <div class="col-md-6">
                <h2 class="title">Junk Manager</h2>
            </div>
        </div>
         
        <!-- /.row -->
        <div class="row breadcrumb-div">
            <div class="col-md-6">
                <ul class="breadcrumb">
					<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
					<li><a href="#">dashboard</a></li>
					<li class="active">junk manager</li>
				</ul>
            </div>

            <div class="col-md-6 text-right">
                <a href="#"><i class="fa fa-comments"></i> Talk to us</a>
                <a href="#" class="pl-20"><i class="fa fa-cog"></i> Settings</a>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container-fluid">

            <div class="row">
                <newjunk :cat="cat" @created="add"></newjunk>
                
                 <div class="col-md-6" >
                        <div class="panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <h6> <i class="fa fa-group"></i> All my Junks</h6>
                                </div>
                            </div>
                            <ul class="list-group">
                                <alljunks @deleted="remove(index)" v-for="(junk,index) in junks" :key="index" :cat="cat" :data="junk"></alljunks>
                            </ul>
                        </div>
                </div>
            </div>
       </div>
    </section>
</div>
</template>

<script>
 
 import newjunk from './new-junk.vue';
 import alljunks from './all-junks.vue';
 
    export default {
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
              junks :this.data,
              upload : false,
              cat:[]
            }
            
        },
        components : {
           
            newjunk,
            alljunks
        
        },
        methods: {
           
             add(junk){
                this.clients.push(junk);
            },
            remove(index){
                this.junks.splice(index,1);
            }
        },
        created(){
            axios.get('user/junks')
            .then(response => this.junks = response.data);
            axios.get('user/junks/category')
            .then(response => this.cat = response.data);
        }
        
    }

</script>