<template>	
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-title">
                    <h6><i class="fa fa-plus-square"></i> Add your junks</h6>
                </div>
            </div>

            <div class="panel-body">
                <form id="checkbox-form"  @submit.prevent="onSubmit" method="POST" action="/admin/clients" class="" @keydown="form.errors.clear($event.target.name )" enctype="multipart/form-data">
                    <div class="form-group left-icon">
                        <label>Name of junk</label>
                        <span class="fa fa-pencil form-left-icon"></span>
                        <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the Junk name" v-model="form.name">
                        <div>
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('name')"></span>
                        </div>
                    </div>
                    <div class="form-group left-icon">
                        <label for="username2">Junk Price</label>
                        <span class="fa fa-money form-left-icon"></span>
                        <input name="price" type="number" class="form-control" id="username2" placeholder="Enter a Price" v-model="form.price">
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('price')"></span>
                    </div>
                    <div class="form-group left-icon">
                        <label for="username2">Junk Quantity</label>
                        <span class="fa fa-phone form-left-icon"></span>
                        <input name="quantity" type="number" class="form-control" id="username2" placeholder="Enter Junk Quantity" v-model="form.quantity">
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('quantity')"></span>
                    </div>
                    <div class="form-group left-icon">
                        <label>Junk Category</label>
                        <span class="fa fa-trash-o form-left-icon"></span>
                        <select  v-model="form.category" name="category" class="form-control">
                            <option disabled value="">Please select a category</option>
                            <option  v-for="(cats,index) in cat" :value="index">{{cats}}</option>
                        </select>
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('category')"></span>
                    </div>
                     <div class="form-group left-icon">
                        <label>Junk Description</label>
                        <span class="fa fa-trash-o form-left-icon"></span>
                        <textarea v-model="form.description" name="description" class="form-control"></textarea>
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('category')"></span>
                    </div>
                  <div class="form-group left-icon">
                        <label class="btn btn-success text-center">
                            <span class="fa fa-file-picture-o"></span> Junk Image
                        <input @change="onChange" name="image" type="file" class="form-control"  accept="image">
                        <span  class="help alert-warning" role="alert" v-text="form.errors.get('image')"></span>
                        </label>
                    </div>
                   <div class="mb-10" >
                        <label>
                          <input v-model="form.pricing" type="checkbox" name="pricing">
                          Check if Price is negotiable
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                </form>
                <!-- /.col-md-12 -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props : ['cat'],
        mounted() {
            console.log('Component mounted.')
            message:''
        },
        data : function() {
            return{
                form  :new Form({
                    name : '',
                    price : '',
                    quantity :'',
                    pricing :1,
                    category : '',
                    description : '',
                    image : '',
                }),
              junks :this.data,
              upload : false,
              cats:this.cat,
            }
            
        },
        methods: {
            onSubmit(){
                this.form.post('user/junks')
                .then(data => {
                    this.$emit('created',data);
                });
                
   
            },
            onChange(e){
                console.log(e);
                let image = e.target.files[0];
                    this.form.persist(image);
            },
            remove(index){
                this.junks.splice(index,1);
            }
        },
        created(){
            axios.get('user/junks')
            .then(response => this.junks = response.data);
        }
        
    }

</script>
<style>
    input[type=file]{
        display: none;
    }
</style>