<template>
	<div class="list">
		 <li class="dropdown">
            <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown" aria-haspopup="true" id="dropdownMenu1" 
            aria-expanded="true"><i class="fa fa-bell"></i>
            <span class="badge badge-warning" >{{notification.length}}</span>
            </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                    <li v-for="notifications in notification">
                    	<a href="#" @click="markAsRead">{{notifications.data.name}} {{notifications.type}}</a>
                    </li>
                </ul>

            </li>
	</div>
</template>
<script>
	export default{
		props : ['data'],

		data(){
			return{
				notification: this.data,
				user: window.App.user.id
			}
		},
		methods: {
			markAsRead(){
				axios.delete('admin/' + this.user +'/notifications')

			}
		}
	}
</script>
<style>
	.list{
		position: relative;
	}
</style>