<template>
	
	<div>
	<li class="list-group-item">
	<span><img class=" img-circle"  :src="client_img" width="50px" height="50px"></span>
		{{client_name}}<span class="pull-right"><button type="button" data-toggle="modal" :data-target="'#'+client_name" class="btn btn-success icon-only"><i  class="fa fa-edit"></i></button><button @click = "deleteClient" type="button" class="btn btn-danger icon-only"><i class="fa fa-trash-o"></i></button></span></li>

	<div class="modal fade draggable" :id="client_name" tabindex="-1" role="dialog" aria-labelledby="modal2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header draggable-handle">
                <h4 class="modal-title" id="modal2Label">Edit Client <span><img class=" img-circle" :src="client_img" width="50px" height="50px"></span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></h4>
            </div>
            <div class="modal-body">
            <div>
                <form  @submit.prevent="editClient" method="POST" action="/admin/clients" class="col-md-10 col-md-offset-1" @keydown="errors.clear($event.target.name )" enctype="multipart/form-data">
                            <div class="form-group left-icon">
                                <label>Client name</label>
                                <span class="fa fa-pencil form-left-icon"></span>
                                <input name = "name" type="text" class="form-control" id="name2" placeholder="Enter the clients name" v-model="client_name">
                                <div>
                                <span  class="help alert-warning" role="alert" v-text="errors.get('name')"></span>
                                </div>
                            </div>
                            <div class="form-group left-icon">
                                <label for="username2">Telephone</label>
                                <span class="fa fa-phone form-left-icon"></span>
                                <input v-model="client_telephone" name="telephone" type="number" class="form-control" id="username2" placeholder="Enter telephone">
                                <span  class="help alert-warning" role="alert" v-text="errors.get('telephone')"></span>
                            </div>
                            <div class="form-group left-icon">
                                <label for="exampleInputEmail2">Email address</label>
                                <span class="fa fa-envelope form-left-icon"></span>
                                <input v-model="client_email" name="email" type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter Your Email Id">
                                <span  class="help alert-warning" role="alert" v-text="errors.get('email')"></span>
                            </div>
                            <div class="form-group left-icon">
                                <label for="exampleInputPassword2">Client Address</label>
                                <span class="fa fa-street-view form-left-icon"></span>
                                <input v-model="client_address" name="address" type="text" class="form-control"  placeholder="Enter Address">
                                <span  class="help alert-warning" role="alert" v-text="errors.get('address')"></span>
                            </div>
                            <div class="form-group left-icon">
                                <label>Client Logo Image</label>
                                <span class="fa fa-file-picture-o form-left-icon"></span>
                                <input @change="onChange" name="image" type="file" class="form-control"  placeholder="Enter Address">
                                <span  class="help alert-warning" role="alert" v-text="errors.get('image')"></span>
                            </div>
                        	 <button type="button" class="btn btn-gray btn-wide btn-rounded pull-right" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
                            <button type="submit" class="btn btn-success btn-rounded btn-wide pull-right"><i class="fa fa-check"></i>Submit</button>
                        </form>
                        </div>
            </div>
            <div class="modal-footer">
                
                <!-- /.btn-group -->
            </div>
        </div>
    </div>
</div>

	</div>
</template>
<script>
import Errors from '../../errors.js';
	export default {
		props:['data'],
		mounted(){
			console.log('client compomnent mounted')
		},
		data(){
			return {
				clients : [],
				client_id : this.data.id,
				client_name:this.data.name,
				client_telephone : this.data.telephone,
				client_address : this.data.address,
				client_email : this.data.email,
				client_img :'http://localhost:8000/storage/'+ this.data.image,
				errors: new Errors(),
				upload : false  
			}
		},
		methods : {
            onChange(e){
                if(!e.target.files.length) return;

                let reader = new FileReader();
                let file = e.target.files[0];
                reader.readAsDataURL(file);

                reader.onload = evt => {
                    console.log(evt, e.target);
                    this.image = file;
                };
              
            },
			editClient(){
				let formData = new FormData();
                    formData.append('img', this.data.image);

                axios.patch('clients/' + this.client_id, {
                	name : this.client_name,
                	image : this.client_img,
                	telephone : this.client_telephone,
                	address : this.client_address
                })
                .then(response =>alert('success'))
                .catch(error => this.errors.record(error.response.data));
			},

			deleteClient(){

				axios.delete('clients/' + this.client_id);
				this.$emit('deleted',this.client_id);
				flash(this.client_name + ' has been deleted');

				
			}



		},
		created(){
            axios.get('clients')
            .then(response => this.clients = response.data);
        }
	}
</script>
<style>
	.modal-body{
		padding: 0px;
	}
</style>